.nav-bar{
    display: flex;
    justify-content: space-around;
}

.banner{
    display: flex;
    overflow: none;
    height: 300px;
    justify-content: space-around;
}

#profile-pic {
    height: 70%;
}
body{
    background: url("https://media2.giphy.com/media/O0QCryNMAqiVW/giphy.gif");
   background-repeat: none;
   background: cover;
}
h1,h2,h5{
    color: white;
}